<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar nav-tabs navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/marketplace"><img class="mr-4" src="/logo-2.jpeg" width="70" height="70"  /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link font1 mr-4" href="#"> Forum</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link font1 mr-4" href="/marketplace">Market Place<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link font1 mr-4" href="/events">Events</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 mr-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 mr-5" type="submit">Search</button>
            <a href="/myitems"><i class="fas fa-2x fa-user mr-5" style="color: black;"></i></a>
            <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log out</a>
          </form>
        </div>
      </nav>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/marketplace">Tools</a></li>
            <li class="breadcrumb-item"><a href="/books">Books</a></li>
            <li class="breadcrumb-item"><a href="/apron">Apron</a></li>
            <li class="breadcrumb-item"><a href="/Electronics">Electronics</a></li>
            <li class="breadcrumb-item">
              <!-- Button trigger modal -->
              <a href="#" data-toggle="modal" data-target="#exampleModal">
                Post your ad <i class="fas fa-plus "></i>
              </a>
  
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Post your ad</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                    <form class="needs-validation" novalidate id="user-form" action="/additems" method="POST" enctype="multipart/form-data">
                      <br>
                      <div class="form-group row">
                          <label for="user" class="col-md-4 col-form-label label-1"
                              ><b>Seller Name: </b></label
                          >
                          <div class="col-md-7">
                              <input
                                  type="text"
                                  class="form-control"
                                  id="user"
                                  placeholder="Seller Name"
                                  name="user"
                                  required
                              />
                              <div class="invalid-feedback">
                                  Please fill out this field.
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                        <label for="name" class="col-md-4 col-form-label label-1"
                            ><b>Item Name: </b></label
                        >
                        <div class="col-md-7">
                            <input
                                type="text"
                                class="form-control"
                                id="name"
                                placeholder="Name"
                                name="name"
                                required
                            />
                            <div class="invalid-feedback">
                                Please fill out this field.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="user" class="col-md-4 col-form-label label-1"
                          ><b>Original Price: </b></label
                      >
                      <div class="col-md-7">
                          <input
                              type="text"
                              class="form-control"
                              id="price"
                              placeholder="Original Price"
                              name="price"
                              required
                          />
                          <div class="invalid-feedback">
                              Please fill out this field.
                          </div>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label for="pricel" class="col-md-4 col-form-label label-1"
                        ><b>Final Price: </b></label
                    >
                    <div class="col-md-7">
                        <input
                            type="text"
                            class="form-control"
                            id="pricel"
                            placeholder="Final Price"
                            name="pricel"
                            required
                        />
                        <div class="invalid-feedback">
                            Please fill out this field.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                  <label for="user" class="col-md-4 col-form-label label-1"
                      ><b>Mobile Number: </b></label
                  >
                  <div class="col-md-7">
                      <input
                          type="text"
                          class="form-control"
                          id="mno"
                          placeholder="Mobile Number"
                          name="mno"
                          required
                      />
                      <div class="invalid-feedback">
                          Please fill out this field.
                      </div>
                  </div>
              </div>
                <div class="form-group row">
                  <label for="desc" class="col-md-4 col-form-label label-1"
                      ><b>Description: </b></label
                  >
                  <div class="col-md-7">
                      <input
                          type="text"
                          class="form-control"
                          id="desc"
                          placeholder="Description"
                          name="desc"
                          required
                      />
                      <div class="invalid-feedback">
                          Please fill out this field.
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                <label for="types" class="col-md-4 col-form-label label-1"
                    ><b>Item Type: </b></label
                >
                <select name="sel1" id="sel1">
                  <option>Select</option>
                  <option>Books</option>
                  <option>Apron</option>
                  <option>Tools</option>
                  <option>Electronics</option>
                </select>
            </div>
            <div class="form-group row">
              <label for="desc" class="col-md-4 col-form-label label-1"
                  ><b>Description: </b></label
              >
              <div class="col-md-7">
                <input type="file" id="image"
                name="image" value="" required class="form-control">
                  <div class="invalid-feedback">
                      Please fill out this field.
                  </div>
              </div>
          </div>
                      <button class="btn submit btn-success submit">
                          Post Ad
                      </button>
                  </form>
                    </div>
                  </div>
                </div>
              </div>
  
            </li>
        </ol>
      </nav>
      <div class="books row">
        <% for(var i = 0; i < books.length; i++) {%>
          <% if(books[i].types=="Electronics") { %>
          <div class="book card col-12 col-md-4" style="margin-top: 2%; text-align: center; width: 400px; height: 600px;">
            <div class="card-body">
              <img src="data:image/<%=books[i].img.contentType%>;base64,
                     <%=books[i].img.data.toString('base64')%>" height="60%" width="60%">
              <h4>Name: <%= books[i].name %></h4>
              <h5 style="color: gray;"><%= books[i].types %></h5>
              <h5>Seller Name: <%=books[i].user %></h5>
              <h5>Item Cost: <%= books[i].finalprice %> &nbsp;<sub><strike><%= books[i].originalprice %></strike></sub></h5>
              <h5>Description: <%= books[i].description %></h5>
              <h5>Contact Details: <%= books[i].mno %></h5>
            </div>
          </div>
        <% } %>
        <% } %>
        </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>